.signup-button {
    width: 328px;
    height: 48px;
    left: 16px;
    bottom: 54px;
    border: 1px solid #ffffff;
    border-radius: 8px;
    color: #ffffff;
    background-color: #334c72;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 18px;
  }
  
  .ref-singup {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 13px;
    color: #ffffff;
  }