.user-home-description {
  display: flex ;
  align-items: center;
  justify-content: flex-start;
  margin-top: 50px;
  margin-bottom: 32px;
  gap: 33px;
  width: 100vw;
  height: 56px;
  border-bottom: 4px solid rgba(18, 18, 18, 0.16);
}

.usernamehome {
  width: 100px;
  height: 24px;
  margin-bottom: 60px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.15px;
  color: #000000;
}
