.header-description {
  position: absolute;
  width: 1760px;
  height: 147px;
  left: 199px;
  top: 65px;
  background-color: azure;
  border: 1px solid rgba(0, 0, 0, 0.5);
  transform: rotate(0.09deg);
}

.description-header {
  position: absolute;
  left: 29px;
  right: 45.9%;
  margin-top: 20px;
  top: 15px;
  bottom: 84.96%;
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 60px;
  line-height: 30px;

  color: #263238;
}

.description-item {
  position: absolute;
  margin-top: 0px;
  left: 29px;
  /* 16 sp • Body 1 */

  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 3px;

  /* identical to box height, or 150% */

  letter-spacing: 0.01em;

  /* ◇ Light / Dark */

  color: #263238;
}
