.reset-password {
    text-align: center;
    margin-top: 16px;
    width: 100%;
    height: 16px;
    left: 125px;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 13px;
    letter-spacing: 0.02em;
    text-decoration-line: underline;
    color: #ffffff;
  }