.restaurants-components {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  flex-direction: column;
}

.restaurant-title {
  margin-left: 16px;
  width: 119px;
  height: 20px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 100%;
  color: #121212;
}

.desctiption-iten{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.restaurant-description {
  display: flex;
  width: 100%;
}

.menu-description {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.dish-description {
  margin-left: 28px;
  margin-right: 220px;
  width: 90px;
}

.kind-of-service {
  width: 87px;
  height: 12px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 100%;
  color: rgba(37, 38, 36, 0.8);
}

.restaurant {
  width: 100px;
  height: 16px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 100%;
  color: #252624;
}

.desctiption-iten-3{
    display: flex;
    align-items: center;
    margin-bottom: 100px;
}
