.next-submit {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 328px;
  height: 48px;
  margin-top: 31px;
  left: 11px;
  background: #130f40;
  border-radius: 8px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 18px;
  letter-spacing: 0.02em;
  color: #ffffff;
}
