.navbar-icons-home {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 360px;
  height: 76px;
  background: #ffffff;
  border: 1px;
  position: fixed;
  left: 0;
  bottom: 0;
}
